.login-box-spacing {
    padding-top: 50px;
    margin-top: 80px;
    padding-bottom: 40px;
}

.login-input-bx {
    width: 20pc;
}

.login-btn {
    width: 13pc;
    background-color: rgb(113, 124, 124);
    border-radius: 15px;
}

.login-text {
    color: rgb(96, 117, 117);
}